.rect1 {
	width: 200px;
	height: 100px;
	background-color: #FFF602;
	margin-left:  10px;
	display: inline-block;


}

.rest2 {
	width: 200px;
	height: 100px;
	background-color: #FF0202;
	margin-left:  10px;
	display: inline-block;

}

.rest3 {
	width: 200px;
	height: 100px;
	background-color: #FFF602;
	margin-left:  10px;
	display: inline-block;

}

