.rect1 {
	width: 200px;
	height: 100px;
	background-color: #FFF602;
	margin-left:  10px;
	display: inline;
	padding:10px;


       }

.rest2 {
	width: 200px;
	height: 100px;
	background-color: #FF0202;
	margin-left:  10px;
	display: inline;
	padding: 10px;

       }

.rest3 {
	width: 200px;
	height: 100px;
	background-color: #FFF602;
	margin-left:  10px;
	display: inline;
	padding: 10px;
       }


a {
	width: 100px;
	margin-left: 150px;
  }
