.rect1 {
	width: 800px;
	height: 100px;
	background-color: #FFF602;


}

.rest2 {
	width: 800px;
	height: 100px;
	background-color: #FF0202;

}

.rest3 {
	width: 800px;
	height: 100px;
	background-color: #FFF602;

}

